<!DOCTYPE html>
<html ng-app="agora.widgets">
<head lang="en">
    <meta charset="UTF-8">
    <title>agoraDatatable</title>

    <script type="text/javascript" src="../../../../bower_components/jquery/dist/jquery.js" ></script>
    <script type="text/javascript" src="../../../../bower_components/angularjs/angular.js"></script>
    <script type="text/javascript" src="../../main/directives/agoraDatatable.js" ></script>
</head>
<body>
<input ng-model="name">

<input ng-model="surname">
Name: {{name}} Surname: {{surname}}
</body>
</html>